<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
      <a href="http://www.beian.miit.gov.cn" target="_blank">
	<p style="color:#939393">粤ICP备19020656号</p>
      </a>
      <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44190002004339" target="_blank">
	<img src="" style="float:left;"/>
	<p style="color:#939393;">粤公网安备 44190002004339号</p>
      </a>
    </div>
</footer>
